<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css?version=1" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
   
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">shopiZ</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarcontent" aria-controls="navbarcontent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse " id="navbarcontent">
            <ul class="navbar-nav me-5 ">
              <li class="nav-item mx-lg-5">
                <a class="nav-link active" aria-current="page" href="#">Home </a>
              </li>
              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <%=session_name%>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modalForm" href="#">Profile</a></li>
                  
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modalFormS" href="">Logout</a></li>
                </ul>
              </li>
              <li class="nav-item mx-lg-5">
                <a class="nav-link " aria-current="page" href="#">Orders</a>
              </li>
              <li class="nav-item mx-lg-4">
                <a class="nav-link  " aria-current="page" data-bs-toggle="modal" data-bs-target="#CartmodalForm" href=""><i class="fa fa-shopping-cart "></i></a>
              </li>
            </ul>
            <div class="row w-100">
            <form action="/get"method="GET" class="d-flex col-lg-10 col-md-12 col-sm-12 col-xm-12">
              <input class="form form-control me-0 "  type="search" placeholder="Search" aria-label="Search"name="tag">
              <button class="btn btn-success bg-success btn-light" type="submit"><i class="fa fa-search "style="color:white"></i></button>
            </form>
          </div>
          
          

          </div>
        </div>
      </nav>

         <div class="container">
             <div class="orderhead mt-3"style="font-size:30px">Your orders</div>

             <div class="orderbody mt-4 ">
                <% for(var i = orders.length-1;i>=0;i--){%> 
                <div class="order container-fluid"style="border:1px solid #dddd;height:70px;display:flex;align-items:center;">
                 <div class="menuname w-25 text-center"style="">
                    <%= orders[i].name%>
                 </div>
                 <div class="qty w-25 text-center"style="">
                    <%= orders[i].qty%>
               </div>
               <div class="price w-25 text-center"style="">
                
              &#8377; <%= orders[i].price%>
               </div>
          
           <div class="del w-25 text-center"style="">
            delivery in 5 days
       </div>
       </div>
<%}%>
                </div>

             </div>
         </div>
         <div class="modal fade mt-4" id="modalFormS" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">you want to logout? </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="/logout" method="POST">
                           
                          
                            
                            <div class="modal-footer d-block">
                      
                                <button type="submit" class="btn btn-warning float-end">Yes ,Logout</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
